@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Game Application</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Game Application</h2>
        <p>
            Game Application is a sample application that
            demonstrates how to call a gaming API from an
            ASP.NET MVC 5 web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project.</p>
        <p><a class="btn btn-default" href="https://webpifeed.blob.core.windows.net/webpifeed/Partners/ASP.NET%20MVC%20Application%20Using%20Entity%20Framework%20Code%20First.zip">Download &raquo;</a></p>
    </div>
</div>